

body {
	background-image: url('https://images.clipartlogo.com/files/istock/previews/9005/90055005-panorama-of-green-field-with-cloudy-sky-background.jpg');
	background-size: cover;
	font-family: 'Poppins', sans-serif;
	font-weight: 300; 

}

button {
	margin: 60px 0 0 130px;
	display: block;
	width: 220px;
	height: 80px;
	border: solid black 2px;
	border-radius: 25%;
	font-family: 'Poppins', sans-serif; 
	font-size: 32px;
	background-color: salmon;
	letter-spacing: 1.5px;
}

button:hover {
	background-color: darksalmon;
}

#foreground {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 280px;
}
div {
	margin-top: 80px;
}

li {
	display: inline-block;
	list-style: none;
	right: 70px;
	margin: 50px 50px 0 50px;
	font-size: 40px;
}

ul {
	margin-left: 140px;
}


/*<div class="head"></div>
 <div class="eye"></div>
 <div class="beak"></div>
 <div class="body"></div>
 <div class="foot"></div>*/

.duck {
	background-color: yellow;
	height: 140px;
	width: 140px;
	border-radius: 50%;
	border: solid black 1px;
	position: absolute;
	bottom: 350px;
	right: 280px;
	animation: movebody 5s linear 0s infinite
}
.eye {
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: solid black 1px;
	position: absolute;
	left: 38px;
	bottom: 85px;

}
.beak {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 70px solid darkorange;
    border-bottom: 35px solid transparent;
    position: relative;
    bottom: 40px;
    left: -60px;
}

.body {
	background-color: yellow;
	height: 230px;
	width: 200px;
	border-radius: 50%;
	border: solid black 1px;
	position: absolute;
	top: 60px;
}
.foot1 {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 80px solid darkorange;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 290px;
}

.foot2 {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 80px solid darkorange;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 280px;
    left: 150px;
}



.beak2 {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 70px solid darkorange;
    border-bottom: 35px solid transparent;
    position: relative;
    bottom: 40px;
    left: -60px;
    animation: eat 1s linear 0s infinite
}

.duck2 {
	background-color: yellow;
	height: 140px;
	width: 140px;
	border-radius: 50%;
	border: solid black 1px;
	position: absolute;
	bottom: 350px;
	right: 280px;
	animation: jumpbody 2s ease 0s infinite
}

.duck3 {
	background-color: yellow;
	height: 140px;
	width: 140px;
	border-radius: 50%;
	border: solid black 1px;
	position: absolute;
	bottom: 350px;
	right: 280px;
	animation: sleep 2s linear 0s infinite
}

.lightsoff {
  	background: black;
  	transition-property: opacity;
  	transition:  2s ease-in;
}

.lightson {
	background-image: url('https://images.clipartlogo.com/files/istock/previews/9005/90055005-panorama-of-green-field-with-cloudy-sky-background.jpg');
  	background-size : cover;
  	transition-property: opacity;
  	transition:  2s ease-out;
}

.dead {
	position: relative;
}
			

@keyframes movebody {
    0% {bottom: 350px;right: 280px}
    50% {bottom: 375px;right: 550px}
    100% {bottom: 350px;right: 280px}
}

@keyframes eat {
    0% {bottom: 50px;right: 80px}
    50% {bottom: 30px;right: 30px}
    100% {bottom: 50px;right: 80px}
}

@keyframes jumpbody {
    0% {bottom: 350px;right: 280px}
    50% {bottom: 480px;right: 250px}
    100% {bottom: 350px;right: 280px}
}

@keyframes sleep {
    0% {bottom: 0px;right: 0px}
    50% {bottom: 10px;right: 10px}
    100% {bottom: 0px;right: 0px}
}


p {
	'margin': '0 auto',
	'font-size': '50px',
	'border': '1px solid black',
	'padding': '40px'
}

input {
	position: absolute;
	left: 150px;
	width: 350px;
	height: 40px;
	font-size: 32px;
}

form p {
	display: inline-block;
	position: absolute;
	left: 770px;
	top: 100px;
	width: 200px;
	height: 32px;
	font-size: 70px;
}













